.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 0.25rem;
}

.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 2px solid #7cc5d9;
    aspect-ratio: 1;
    width: 5rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s;
    border-radius: 5px;
}

.square > p {
    font-size: clamp(1.2em, 2vw, 2vw);
    color: white;
}

.square:hover {
    border: 2px solid #88dded;
    background-color: rgba(136, 221, 237, 0.45);
    font-weight: bold;
}