@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext');
@import url('./reset.css');

body {
    height: 100dvh;
    width: 100dvw;
    font-family: 'Inter';
    box-sizing: border-box;
    padding: 1rem;
}