@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext');
@import url('./reset.css');

body {
    height: 100dvh;
    width: 100dvw;
    font-family: 'Inter';
    box-sizing: border-box;
    background-color: #1c2c4c;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.35em, 2.5vw, 2.5vw);
    color: white;
    text-align: center;
}